:root {
  --bs-primary-rgb: 0, 123, 255;
  --bs-success-rgb: 40, 167, 69;
  --bs-link-color: #007bff;
  --bs-link-color-rgb: 0, 123, 255;
  --bs-link-hover-color: #0056b3;
  --bs-link-hover-color-rgb: 0, 86, 179;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #007bff;
  --bs-btn-border-color: #007bff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0069d9;
  --bs-btn-hover-border-color: #0062cc;
  --bs-btn-focus-shadow-rgb: 38, 143, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0062cc;
  --bs-btn-active-border-color: #005cbf;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #007bff;
  --bs-btn-disabled-border-color: #007bff;
}

#main {
  max-width: 960px;
}

.navbar {
  padding-left: 0;
}

.navbar #logo {
  max-height: 2rem;
  vertical-align: bottom;
}

form.inline-btn-link {
  display: inline-block;
}

form.inline-btn-link .btn.btn-link {
  padding: 0;
  vertical-align: baseline;
}
